body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.background-pattern {
    width: 100%;
    height: 100%;
    background: url('../images/dummy-background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    text-align: center;
    color: rgb(197, 242, 255);
}

h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 2em;
    font-weight: normal;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1em;
}

p {
    font-size: 1em;
    margin-bottom: 2em;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon {
    font-size: 1.5em;
}
